@use "../abstracts/variables" as v;

.footer {
  display: flex;
  background-color: v.$theme-color;
  width: 100%;
  color: white;
  gap: 20px;
  justify-content: center;
  min-height: 70px;
  margin-top: 24px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    a {
      color: white;

      &:hover {
        color: gray;
      }
    }

  }
}
