@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin reset-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin btn {
  background-color: #8b3535;
  border-color: #c2a6a6;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
  }

}
